.feature-item {
    padding: 30px;
    border: 1px solid rgba($c4, .1);
    border-radius: 16px;
    transition: .25s linear;
    margin-bottom: 30px;
    &:hover {
        transform: translateY(-6px);
        box-shadow: 0px 16px 16px rgba($c4, .1);
        .title a {
            color: $c1;
        }
    }
    .icon {
        margin-bottom: 16px;
    }
    .title {
        font-size: $fz-h4;
        a {
            color: $c4;
        }
    }
    p {
        opacity: .75;
        margin-bottom: 0;
    }
}