.header {
    min-height: 100px;
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    .site-logo {
        max-width: 100px;
    }
    .site-navmenu {
        z-index: 99;
        @media screen and (max-width: 1200px) {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 300px;
            background-color: #fff;
            padding: 30px;
            transform: translateX(-100%);
            transition: .25s linear;
            &.show {
                transform: translateX(0);
            }
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            padding-right: 16px;
            @media screen and (max-width: 1200px) {
                flex-direction: column;
            }
            li a {
                color: $c4;
                display: block;
                padding: 8px 16px;
                &:hover {
                    color: $c1;    
                }
            }
        }
    }
    .site-actions {
        position: relative;
        padding-left: 16px;
        @media screen and (max-width: 1200px) {
            padding-left: 0;
            padding-right: 16px;
        }
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 100%;
            height: 24px;
            width: 1px;
            background-color: rgba($c4, .25);
            @media screen and (max-width: 1200px) {
                right: auto;
                left: 100%;
            }
        }
    }
    .icon-box {
        background-color: $c3;
    }
}